.main-header {
   font-family: $fontVar;
   background: $mainColor;
   text-align: center;
   height: 400px;
}

.h1-header {
   padding: 100px;
   position: relative;
   line-height: 150%;
   // top: 100px;
}

